*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
header{
    padding: 10px;
    text-align: center;
}
main{
    max-width: 600px;
    margin: 20px auto; 
  
}
form{
    display: grid;
    grid-gap: 10px;
}
input,textarea{
    margin-left: 30px;
    border-radius: 5px;
    padding: 10px;
}
button{
    border-radius: 20px;
    margin-left: 500px;
    padding: 5px;
}
h1 {
    font-weight: 1;    
}
