table{
    margin-left: 600px;
    background-color: #c5b3b3;
    border-collapse: collapse;
}
th,td,tr{
    border: 3px solid white;
    padding: 10px;
    text-align: center;

}
td{
    background-color: #cfd8d8;
}